.fa-caret-down:before {color: #fff;}
.fa-angle-right:before {color: #fff;}

#btn-menu-m,
#btn-menu-m span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
#btn-menu-m {
  position: fixed;
  width: 30px;
  height: 40px;
  top: 20px;
  right: 15px;
  z-index: 120;
  display: none;
}
#btn-menu-m span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

#btn-menu-m.active span {
	background-color:#fff;
	height:1px
}


#btn-menu-m span:nth-of-type(1) {
  top: 8px;
}

#btn-menu-m span:nth-of-type(2) {
  top: 16px;
  width:25px
}

#btn-menu-m span:nth-of-type(3) {
  bottom: 13px;
}
#btn-menu-m.active span:nth-of-type(1) {
  -webkit-transform: translateY (16px) rotate (-45deg);
  transform: translateY(16px) rotate(-45deg);
  top: 0px;
}

#btn-menu-m.active span:nth-of-type(2) {
  opacity: 0;
}

#btn-menu-m.active span:nth-of-type(3) {
  -webkit-transform: translateY(-23px) rotate(45deg);
  transform: translateY(-23px) rotate(45deg);
  bottom: 0px;
}

/*#logo-line {
  width: 1200px;
  max-width: 100%;
  margin: 20px auto;
  height: 50px;
  overflow: hidden;
}



/*	#btn-menu-m .navicon-line{position:absolute;width:20px;height:2px;border-radius:1px;background:#fff;-webkit-transition:all .7s ease-out;-moz-transition:all .7s ease-out;-o-transition:all .7s ease-out;transition:all .7s ease-out}
	#btn-menu-m .nl1 {top: 11px;right: 10px; width:30px;}
	#btn-menu-m .nl2 {top: 19px;right: 10px; width:24px;}
	#btn-menu-m .nl3 {top: 27px;right: 10px; width:30px;}



	#open-button{position:fixed;z-index:10000;right:15px;padding-top:18px;width:75px; height:80px;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;cursor:pointer;display:block; }
	#open-button .navicon-line{position:absolute;width:20px;height:2px;border-radius:1px;background:#fff;-webkit-transition:all .7s ease-out;-moz-transition:all .7s ease-out;-o-transition:all .7s ease-out;transition:all .7s ease-out}
	#open-button .nl1 {top: 11px;right: 10px; width:30px;}
	#open-button .nl2 {top: 19px;right: 10px; width:24px;}
	#open-button .nl3 {top: 27px;right: 10px; width:30px;}
	#open-button.on>div>div{transform:rotate(225deg);-ms-transform:rotate(225deg);-webkit-transform:rotate(225deg);width:25px;position:absolute;top:15px;right:10px;margin:0;padding:0;background-color:#fff;}
	#open-button.on>div>div:first-child{transform:rotate(135deg);-ms-transform:rotate(135deg);-webkit-transform:rotate(135deg)}
	#open-button.scrolled .navicon-line {background-color: #333;}
	#open-button.on.scrolled >div>div{background-color:#fff;}
*/

.logo {
  height: 100%;
  width: 170px;
  float: left;
  text-align: center;
  position:relative;
}

.logo a { display:block; width:267px; height:80px; line-height:80px; background-image:url(../img/logo_white.png); background-position: center left; background-repeat: no-repeat;}
.scrolled .logo a {background-image:url(../img/logo_black.png);}



#logo-line .contact {
  height: 100%;
  background-color: yellowgreen;
  float: right;
}

#logo-line .contact ul {
  overflow: hidden;
  height: 100%;
  width: 200px;
}

#logo-line .contact ul li {
  float: left;
  width: 50%;
  height: 100%;
}

#header-wrap {
  position: fixed;
  z-index: 100;
  width: 100%;
  height:80px;
  z-index: 3;
  transition-duration: 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
 }

.scrolled #header-wrap {
  background: #fff;
  border-bottom:0;
  z-index:4;
  transition-duration: 0.3s;
  border-bottom: 1px solid #ddd;
}


#header .lnb-line {
  height:100%;
  position: absolute;
  right:0
}

#header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

#header .lnb-line:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#lnb {
  float:left;
}
.lnb-line #menu-ctl {
  display:none;
  position: absolute;
  top:0px;
  right:0px;
  z-index:10;
}



#lnb * {
  box-sizing: border-box;
}

#lnb > ul:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#lnb > ul > li {
  display:inline-block;
  height: 80px;
  line-height: 80px;
  float: left;
  margin-left: -1px;
  margin-right: 60px;
  transition: all 0.5s;
  white-space:nowrap;
}

#lnb > ul > li:last-child {
  margin-right: 0;
}


@media screen and (max-width: 1200px){
  .logo {padding-left: 15px;}
}


@media screen and (max-width: 960px) { 
    #header-wrap { height:60px} 
	#lnb > ul > li { height:60px; line-height:60px}
   .logo a { height:60px; background-size:70%}
  .lnb-line  #menu-ctl {display:block }
  /*
  #lnb > ul[data-idx="1"] > li:nth-child(5), 
  #lnb > ul[data-idx="1"] > li:nth-child(6) {
    width:10px;
    overflow:hidden;
    opacity:0.5;

  }
  #lnb > ul[data-idx="2"] > li:nth-child(6), 
  #lnb > ul[data-idx="2"] > li:nth-child(1) {
    width:10px;
    overflow:hidden;
    opacity:0.5;
  }
  #lnb > ul[data-idx="3"] > li:nth-child(2), 
  #lnb > ul[data-idx="3"] > li:nth-child(1) {
    width:10px;
    overflow:hidden;
    opacity:0.5;
  }
  */
  #lnb > ul > li.hide {
    width:10px;
    overflow:hidden;
    opacity:0.5;
  }

  @media screen and (max-width: 640px) { 
    .logo a {background-size: 60%;}
  }
  
  #menu-ctl > a {display:inline-block;width:30px; line-height:60px; background-color:#fff; font-size: 20px; text-align:center; }
}

#lnb > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align:center;
  font-size:18px;
  font-weight:400;
  color:#fff;
}

.scrolled #lnb > ul > li > a {
  color: #121212;
}

#lnb > ul > li > a:hover {
  color: #f15a29;
}

#lnb > ul > li > ul {
  position: absolute;
  width: 100%;
  display: none;
  box-sizing: content-box;
  margin-left: -1px;
  z-index: 2;
}

#lnb > ul > li > ul ul {
  position: absolute;
  width: 100%;
  display: none;
  border: 1px solid #525252;
  box-sizing: content-box;
  margin-top: -1px;
  top: 0;
  left: 100%;
  margin-left: 0px;
}

#lnb > ul li.on > ul {
  position: absolute;
  display: block;
}

#lnb li {
  position: relative;
}

#lnb > ul > li li {
  border-top: 1px solid #525252;
  line-height: 48px;
  height: 50px;
  background-color: #333;
  padding: 0;
  margin-top: -1px;
}

#lnb > ul > li li:first-child {
	border-top:0
}


#lnb > ul > li li:nth-last-child(1) {
  height: 50px;
  line-height: 50px;
}

#lnb > ul > li li > a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size:14px
}

#lnb > ul > li li > a:hover {
	/* background-image:url(../img/next.png); */
	background-repeat:no-repeat;
	background-position: 195px center;
	padding-right:50px;
	background-color:#f15a29;
	color:#fff
}
	 


#lnb > ul > li > ul {
  width: 220px;
  top: 81px;
  left: -20px;
}

#lnb > ul > li > ul ul {
}

#lnb .arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: tomato;
  display: inline-block;
  right: 5px;
  top: 50%;
  margin-top: -15px;
  text-align: center;
  line-height: 30px;
  z-index:1;
}

#lnb ul ul .arrow {
  transform: rotate(-90deg);
}

#login-box, #login-box2 {
  height: 80px;
  line-height:80px;
  float: right;
  padding-left:50px

}
#login-box3 {
  height: 50px;
  text-align:center;
  margin-bottom:10px;
}
#login-box a, #login-box2 a, #login-box3 a {
  display: inline-block;
  padding:0 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ddd;
  font-size: 12px;
  
}
#login-box2 {
  display:none;
}

#top-bg-wrapper {
  position: relative;
  z-index: 10;
  border-bottom:1px solid #ddd;
}

#top-bg-wrapper .bg {
  width: 100%;
  height: 100%;
}

#container-box {
  width: 100%;
  position:relative;
  display: none;

}

@media screen and (max-width: 1450px) {
  #header .lnb-line {right: 100px;}
  .logo {padding-left: 15px;}
  #lnb {padding-right: 30px;}
}

@media screen and (max-width: 1200px) {
  #header .lnb-line {
    display: none;
  }
  #btn-menu-m {
    display: inline-block;
    top: 20px;
  }

  .scrolled #btn-menu-m span {background-color: #000;}
}

@media screen and (max-width: 960px) {
  #btn-menu-m {top: 10px;}
}

@media screen and (max-width: 768px) {

  #header-wrap {
    position: fixed;
    top:0;
  }
  #header-wrap #logo-line {
    margin: 0;
  }
  #logo-line .logo {
    display: inline-block;
    float: none;
  }
  #logo-line .contact {
    display: none;
  }


  #top-bg-wrapper {
  }
}

@media screen and (max-width: 648px) {
  #btn-menu-m {top: 10px;}
}

#m-lnb-wrapper {
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 110;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color:#000;
  opacity:0.9;
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 2em;
  padding-right: 1em;
  transition: all 0.5s;
}
#m-lnb-wrapper.on {
  right: 0px;
}
#m-lnb > ul {
  border-bottom: 1px solid #333;
  font-size: 14px;
}
#m-lnb > ul li > a {
  color: #fff;
}
#m-lnb > ul > li > span {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  transition: all 0.4s;
  color: tomato;
  cursor:pointer
}
#m-lnb > ul > li.on > span {
  transform: rotate(180deg);
}
#m-lnb > ul > li li > span {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  transition: all 0.4s;
  color: tomato;
  cursor:pointer
}
#m-lnb > ul > li li.on > span {
  transform: rotate(180deg);
}

#m-lnb > ul li {
  position: relative;
}
#m-lnb > ul > li > a {
  display: inline-block;
  padding: 0 20px;
  font-size:16px;

}
#m-lnb > ul > li {
  line-height: 55px;
  border-bottom: 1px solid #333;
}
#m-lnb > ul > li:nth-last-child(1) {
  border-bottom: 0;
}
#m-lnb > ul > li ul {
  display: none;
  line-height: 40px;
}
#m-lnb > ul > li li {
  border-top: 1px solid #474747;
  background-color: #222;
}
#m-lnb > ul > li li li {
  border-top: 1px solid #959595;
  background-color: #777;
}
#m-lnb > ul > li li > a {
  display: inline-block;
  padding: 3px 15px 3px 30px;
  width:100%
}
#m-lnb > ul > li li li > a {
  display: inline-block;
  padding: 0 10px 0 40px;
}

.select-nav {
  background-color: #fee;
  display: inline-block;
  float: left;
}

.select-nav:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.select-nav .select {
  float: left;
  width: 220px;
  height: 70px;
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-left: -1px;
}

.select-nav .select:first-child { border:0}
.select-nav .select .down {
  position: absolute;
  width: 25px;
  height: 25px;
  display: inline-block;
  top: 20px;
  right: 5px;
  line-height: 25px;
  text-align: center;
  color: #ddd;
  font-size: 20px;
  transition: all 0.5s;
}
.select-nav .select.on .down {
  transform: rotate(180deg);
}

.select-nav .select.d1 {
  margin-left: 0;
  display: none;
}

.select-nav .select button {
  width: 100%;
  height: 100%;
  background-color: #f15a29;
  border: 0;
  text-align: left;
  padding-left: 25px;
  outline: none;
  font-size:14px;
  color: #fff;

}

.select-nav .select button .t1 { font-weight:500; color: #fff;}
.select-nav .d3 button { font-weight:bold}



.select-nav .select > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  box-sizing: content-box;
}

.select-nav .select ul li {
  min-height: 55px;
  line-height: 55px;
  padding-left: 25px;
  border-bottom: 1px solid #ddd;
  
}


.select-nav .select ul li a {
	color:#555;
	display:block;
	font-size:14px
}

.select-nav .select ul li a:hover {
	color:#000
}


.select-nav .select ul ul {
  display:none;
}

.select-nav .select ul li li {
  border-top: 1px solid #ddd;
  border-bottom: 0;

}



.select-nav .select ul li:nth-last-child(1) {
  border-bottom: 0;
}
.select-nav-wrapper {
  position: relative;
  z-index:2;
  background-color:#f15a29;
  max-width:1400px;
  margin: -71px auto;
  border-bottom: 1px solid #fff;
}
.select-nav-wrapper:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.select-nav-wrapper .home {
  width: 60px;
  height: 70px;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  line-height: 65px;
  border-right:1px solid #fff;
  float: left;
}
.select-nav-wrapper .link {
  background-color: lightcoral;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  line-height: 50px;
  float: right;
}
.d2 .t2 {display:none;}

@media screen and (max-width: 1120px) {
  #login-box {
    display:none;
  }
  #login-box2 {
    display:inline-block;
  }
}
@media screen and (max-width: 768px) {
  .select-nav-wrapper .home {
    display: none;
  }
  .select-nav-wrapper .link {
    display: none;
  }
  .select-nav .select.d3 {
    display: none;
  }
  .select-nav {
    width: 100%;
     background-color: #f15a29;
  }
  .select-nav .select {
    width: 100%;
	border-right: 0
  }

  .select-nav .select ul ul {
    display:block;
  }
  .d2 .t2 {display: inline;}
  .d2 .t2 .fa { color: #555; font-weight:bold;}
}
